<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset="4" size="4">
        <div style="position: relative">
          <ion-searchbar
            (ionInput)="search($event)"
            [value]="selectedAddress"
          ></ion-searchbar>
          <div style="position: absolute; width: 100%; z-index: 999">
            <ion-list lines="none">
              <ion-item button *ngFor="let address of addresses">
                <ion-icon name="pin"></ion-icon>
                {{address}}
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
